<html>
    <head>
        <title> Bethany's Blog</title>
    </head>
    <body>
        <div>
            <h1>Welcome to Bethany's Blog!</h1>
        </div>

        <div>
            <p> published: May 2020</p>
            <h2><a href = ""> My First Post</a></h2>
            <p> My first post is a test</p>
        </div>

        <div>
            <p> published: May 2020</p>
            <h2><a href = ""> My Second Post</a></h2>
            <p> My second post about the blog</p>
        </div>

    </body>
</html>